@use '../abstracts/variables' as *;
@use '../abstracts/mixins'as *;
// CSS Reset and Base Styles

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.7;
  color: $text-color;
  background-color: $white;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $primary;
  transition: $transition;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  background: none;
}
